header.header
  .wrapper
    .header__sponsor
      span Sponsored Post
    .header__content
      .header__logo
        +image("with-US.png")
      .header__actions
        .header__text
          span Call Before 17:00
        .header__button
          a(href="tel:+18557582260").main-btn
            span.fas.fa-phone-alt
            span (855) 758-2260
